@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    --color-neon-ice: #21f1ed;
    --color-hot-fuchsia: #f72d55;
    --color-dark-cyan: #159592;
    --color-bubblegum-pink: #ec5775;
    --color-carbon-black: #1e2124;
    --color-ash-black: #0f1112;
    --color-void-black: #090a0b;
    --color-carbon-gray: #3f3f3f;
    --color-carbon-light-gray: #424242;
    --color-golden: #ffab25;
    --color-discord-blue: #5865f2;

    --text-shadow-1: 0 1px 0 rgba(0, 0, 0, 0.25);

    --shadow-5: 0 5px 0 0 rgba(0, 0, 0, 0.25);
    --shadow-10: 0 10px 0 0 rgba(0, 0, 0, 0.25);

    --font-sans: "Plus Jakarta Sans Variable", "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: var(--color-void-black);
}

em {
    color: var(--color-bubblegum-pink);
    font-weight: 800;
    font-style: normal;
}

h2 em {
    font-weight: 700;
}

div > p {
    color: #d4d4d4;
    line-height: 1.75rem;
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    font-size: 1.25rem;
}

div > p > b {
    font-size: 1.5rem;
    color: #fff;
}

h2 {
    position: absolute;
    padding: 1rem;
    background-color: var(--color-ash-black);
    border-radius: 0.8rem;
    border: 2px solid var(--color-bubblegum-pink);

    font-weight: 800;
    font-size: 1.75rem;

    top: -4rem;
}